version: 2.1

defaults: &defaults
  docker:
    - image: ruby:3.1.1

commands:
  install_java:
    steps:
      - run: ./scripts/ci/common/install-openjdk.sh

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - install_java
      - run: ./scripts/ci/steps/test.sh

workflows:
  version: 2
  pipeline:
    jobs:
      - test-clojure
